@CHARSET "UTF-8";


.ui-datatable-header{
	background: #437bfe!important;
	color: white !important;
	text-align: left !important;
	font-size: 35px !important;	
	font-style: normal !important;
	font-weight: inherit!important;
	border-bottom: 1px solid #437bfe!important;
}

.ui-datatable thead th{
    background: #437bfe !important;
    color: black !important;
    font-size: 18px !important;
    border: hidden !important;	
   
}
.ui-datatable tbody td{
    border-top: 1px solid #d1d1d1!important;
    border-left: hidden!important;
    border-right: hidden!important;
    border-bottom: 1px solid #d1d1d1!important;
}


.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover {
    background: #e9e9e9!important;
}

.ui-panel{
	
	height: 70px !important;
	background: #fff0dd!important;
	color:black !important;
	font-size:16px!important;
	vertical-align: middle !important;
	border-color: #ffdeb7!important;
}
.ui-panel-content{
	margin-top: 15px!important;
}

.ui-button{
	color: black !important;
}

.tab thead {
	color:#ffffff;
	text-align: left;
	background: #437bfe;
	font-size: 20px !important;
	font-weight: inherit;
}

.tab th, .tab td {
   
    text-align: left;
    border-bottom: 1px solid #d4d4d4;
}

.tab tbody tr:hover {
	background: #e9e9e9!important;
}

