@CHARSET "UTF-8";

.ui-layout-north, .ui-layout-north.ui-layout-unit-content {
	z-index:20 !important;
	overflow:visible !important;
	height: 65px !important;
	background-color: #efefef !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
	height: 60px !important;
	background-color: #efefef !important;
}


.ui-menubar,.ui-menu-child {
	background: white !important;	
	font-size: 13px !important;	
}

ul li.ui-menuitem-active>a{
    background-color:#dddddd !important;    
}

.ui-layout-center {	
	width: 1200px !important;
	margin: 0 auto !important;
	position: absolute !important;  
	z-index: 0 !important; 
	display: block !important; 
	visibility: visible !important;
	height: auto !important;
	background-color: #efefef !important;
}

.ui-layout-south {
	width: 1200px !important;
	margin: 0 auto !important;
	background-color: #efefef !important;
}



.ui-layout-center .ui-layout-unit-content,.ui-layout-south .ui-layout-unit-content {
    
   background-color: #efefef !important;
}

